<template name="emailjsSidebar">
    <aside class="main-sidebar">
        <header class="steedos main-header">
          <div class="logo" style="overflow: visible">
            <span class="logo-lg">
              <B>{{_ "Steedos Mail"}}</B><i class="ion-ios-arrow-down ion" style="font-size: 14px;padding-left: 10px;"></i>
            </span>
            <span class="logo-mini">
              <i class="ion ion-grid"></i>
            </span> 
          </div>
        </header>
        <div class="sidebar" id="scrollspy">
           <div class="user-panel">
            <div class="pull-left image">
              <img src="{{avatar}}" class="img-circle avatar-preview">
            </div>
            <div class="pull-left info">
              <p>{{displayName}}</p>
              <a href="#"><i class="ion-record text-success"></i> {{_ "Online"}}</a>
            </div>
          </div>
<!--           <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder= "{{_ 'Search'}}...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="ion fa-search"></i>
                  </button>
                </span>
            </div>
          </form> -->
          <ul class="nav sidebar-menu">
            <li class="header">{{accountName}}
              <span class="pull-right"><a class="settings-mail-account"><i class="ion ion-ios-gear-outline"></i></a></span>
            </li>

            {{#with box}}
              <li class="mail-compose"><a class='mail-add-btn' data-path="{{path}}" data-href="/emailjs/b/drafts/{{path}}"><i class="ion ion-plus"></i> <span>新邮件</span></a></li>
            {{/with}}

            {{#with getBox 'Inbox'}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-android-mail"></i> <span>{{t name}}</span>
              <span class="label bg-red pull-right">{{getUnseenCount}}</span></a></li>
            {{/with}}
            {{#with getBoxBySpecialUse '\\Sent'}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-paper-airplane"></i> <span>{{t name}}</span></a></li>
            {{/with}}
            {{#with getBoxBySpecialUse '\\Drafts'}}
              <li class="{{getLiClass path false}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-ios-compose-outline"></i> <span>{{t name}}</span></a></li>
            {{/with}}
            {{#with getBoxBySpecialUse '\\Junk'}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-funnel"></i> <span>{{t name}}</span>
              <span class="label label-warning pull-right">{{info.exists}}</span></a></li>
            {{/with}}
            {{#with getBoxBySpecialUse '\\Trash'}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-ios-trash-outline"></i> <span>{{t name}}</span></a></li>
            {{/with}}
            {{#with getBoxBySpecialUse '\\Archive'}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-archive"></i> <span>{{t name}}</span></a></li>
            {{/with}}


            <!-- <li class="header"> {{ _  "mail_folders"}}</li> -->
            {{#each getOtherBoxs}}
              <li class="{{getLiClass path true}}"><a class='box-item-info' data-path="{{path}}" data-href="/emailjs/b/{{path}}"><i class="ion ion-ios-folder-outline" aria-hidden="true"></i> <span>{{t name}}</span></a></li>
            {{/each}}


            <!-- <li class="header">{{_ "Steedos"}}</li>
            <li><a href="{{urlPrefix}}/admin/"><i class="ion ion-ios-gear-outline"></i><span>{{_ "Settings"}}</span></a></li>
            <li class="{{menuClass 'steedos/help'}}">
                <a href="/steedos/help/"><i class="ion ion-help-circled"></i><span>{{_ "Help"}}</span></a>
            </li> -->
          </ul>
          {{> topSidebar}}
        </div>
    </aside>
</template>
