<template name="mail_home">
 <!--  <section class="content-header">
    <h1>
      Mailbox
      <small>13 new messages</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Mailbox</li>
    </ol>
  </section> -->
  <section class="steedos-mail">
    <div class="row">
      <div class="mail-list">
        {{> mail_list}}
      </div>
      <div class="mail-wrapper" >
        {{> layout_right}}
      </div>
    </div>
  </section>
</template>