<template name="mail_compose">
<div class="box mail-compose">

  {{#with message}}

    <!-- /.box-header -->
    <div class="box-body">
      <div class="form-group">
        {{>Template.dynamic  template="select_mail" data=(mail_to this)}}
      </div>

      <div class="form-group">
        {{>Template.dynamic  template="select_mail" data=(mail_cc this)}}
      </div>

      <div class="form-group">
        {{>Template.dynamic  template="select_mail" data= (mail_bcc this)}}
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">主&emsp;题</span>
          <input class="form-control subject" type="text" placeholder="" value="{{subject this}}">
        </div>
      </div>

      <div class="form-group">
        <div class="btn btn-default btn-file">
          <i class="fa fa-paperclip"></i> 添加附件
          <input type="file" id="attachment_file">
        </div>
      </div> 
      <div class="form-group message-attachments">
        <div class="row" id="compose_attachment_list"></div>  
      </div>

      <div class="form-group message-body">
        <div id="compose-textarea"></div>
      </div>
    </div>
    <!-- /.box-body -->
    
    <!-- /.box-footer -->
  
    <div class="overlay {{isSending}}" id="mail_sending">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  {{/with}}
  <!-- /. box -->
</div>
</template>