<template name="mail_list">

    {{#if isLoading}}
        <div class="loading">
            {{> steedosLoading}}
        </div>
    {{/if}}

  <div class="navigation-bar" data-exists="{{boxExists}}">

        <!-- <a href="/workflow/space/{{spaceId}}" class="btn btn-default" title='{{_ "Workflow"}}'>
          <i class="ion ion-chevron-left"></i><span></span>
        </a> -->

        <button type="button" class="btn btn-default" data-toggle="offcanvas" id="emailjs_offcanvas">
          <i class="fa fa-bars"></i>
        </button>

        <!-- <div class="pull-right">
          <a href="/emailjs/b/drafts/{{box.path}}/compose" class="btn btn-primary btn-block margin-bottom btn-compose">新建</a>
        </div> -->
        {{> mail_search}}
  </div>

	<div class="box mail_list">
      <!-- <div class="box-header with-border">

        <div class="pull-right">
          <div class="has-feedback">
            {{> mail_search}}
          </div>
        </div>
      </div> -->
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="mailbox-controls">
          <!-- Check all button -->
          <label class="btn btn-default btn-sm " style="width: 31px;height: 30px; padding-left: 8px;">
            <input type="checkbox" data-toggle="tooltip" title="{{_ 'mail_check_all'}}" class="mailbox-messages-checkAll" style="margin: 2px 0 0;">
          </label>
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" data-placement="bottom" title="{{_ 'mail_delete'}}" class="btn btn-default btn-sm  list-message-delete"><i class="fa fa-trash-o"></i></button>
            <!-- <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button> -->
          </div>
          <!-- /.btn-group -->
          <button type="button" data-toggle="tooltip" data-placement="bottom" title="{{_ 'mail_refresh'}}" class="btn btn-default btn-sm list-refresh"><i class="fa fa-refresh"></i></button>
          <div class="pull-right">
            <span class="label label-warning">{{pageStart boxExists}} - {{pageEnd boxExists}} / {{boxExists}}</span>
            <div class="btn-group">
              <button type="button" data-toggle="tooltip" data-placement="bottom" title="{{_ 'mail_page_back'}}" class="btn btn-default btn-sm" id="page_back"><i class="fa fa-chevron-left"></i></button>
              <button type="button" data-toggle="tooltip" data-placement="bottom" title="{{_ 'mail_page_forward'}}" class="btn btn-default btn-sm" id="page_forward"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!-- /.btn-group -->
          </div>
          <!-- /.pull-right -->
        </div>
          <div class="products-list product-list-in-box mailbox-messages" >
            {{#each boxMessages}}
              <li class="item drag-source {{#if isUnseen this}}unseen{{else}}seen{{/if}} {{getLiClass uid}}" draggable="true">
                  <div>
                    <div class="message">
                      <div class="product-checkbox">
                        <input type="checkbox" value="{{uid}}" name="uids">
                      </div>
                      <!-- <div class="product-img">
                        <img class="img" data-name="{{fromName from}}" alt="Product Image">
                      </div> -->
                      <div class="product-info">
                        <div class="steedos-emailjs-item" data-drafts='{{isDraftsBox}}' data-box="{{box.path}}" data-href="{{#if isDraftsBox}}/emailjs/b/drafts/{{box.path}}/{{else}}/emailjs/b/{{box.path}}/{{/if}}" data-uid="{{uid}}">
                          {{#if isSentOrDrafts}}
                            <div class="to">
                              {{#if to}}
                                {{#if onlyOneTo to}}
                                  <span class="mail-address">
                                    {{oneToName to}}
                                  </span>
                                {{else}}
                                  {{#each to}}
                                    <span class="mail-address">
                                      {{#if name}}
                                        {{name}}&#44;
                                      {{else}}
                                        {{address}}&#44;
                                      {{/if}}
                                    </span>
                                  {{/each}}
                                {{/if}}
                              {{else}}
                                &#91;无&#93;
                              {{/if}}
                            </div>
                          {{else}}
                            <div class= "from">
                              {{fromName from}}
                            </div>
                          {{/if}}
                          <span class="pull-right">{{#if haveAttachment attachments}}<i class="fa fa-paperclip"></i>{{/if}}{{modifiedFromNow date}}</span>
                          <span class="product-description">
                            {{#if subject}}{{subject}}{{else}}{{_ 'mail_subject_empty'}}{{/if}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            {{/each}}
          </div>


        <!-- /.mail-box-messages -->
      </div>

      <!-- /.box-body -->
      <div class="mailbox-controls">
        <!-- Check all button -->
        <label class="btn btn-default btn-sm " style="width: 31px;height: 30px; padding-left: 8px;">
          <input type="checkbox" data-toggle="tooltip" title="{{_ 'mail_check_all'}}" class="mailbox-messages-checkAll" style="margin: 2px 0 0;">
        </label>
        <div class="btn-group">
          <button type="button" data-toggle="tooltip" data-placement="top" title="{{_ 'mail_delete'}}" class="btn btn-default btn-sm list-message-delete"><i class="fa fa-trash-o"></i></button>
          <!-- <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button> -->
        </div>
        <!-- /.btn-group -->
        <button type="button" data-toggle="tooltip" data-placement="top" title="{{_ 'mail_refresh'}}" class="btn btn-default btn-sm list-refresh" ><i class="fa fa-refresh"></i></button>
        <div class="pull-right">
          <span class="label bg-orange">{{pageStart boxExists}} - {{pageEnd boxExists}} / {{boxExists}}</span>
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" data-placement="top" title="{{_ 'mail_page_back'}}" class="btn btn-default btn-sm" id="page_back"><i class="fa fa-chevron-left"></i></button>
            <button type="button" data-toggle="tooltip" data-placement="top" title="{{_ 'mail_page_forward'}}" class="btn btn-default btn-sm" id="page_forward"><i class="fa fa-chevron-right"></i></button>
          </div>
          <!-- /.btn-group -->
        </div>
        <!-- /.pull-right -->
      </div>
    </div>
</template>
