<template name="mailAccount">
	<div class="modal fade steedos-mail-account" id="mailAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content mail-account-modal">
	        <div class="modal-header">
	          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	          <h4 class="modal-title" id="myModalLabel">邮件账户</h4>
	        </div>
	        <div class="modal-body contacts-modal-body" style='overflow-y:auto'>
	          {{> quickForm collection="db.mail_accounts" doc=space id="updateMailAccount" schema=schema type="update" fields="email,password"}}
	        </div>
	      </div>
	    </div>
	</div>
</template>