/* iCheck plugin Flat skin, blue
----------------------------------- */
html, body{
    height: 100%;
    .emailjs{
        height: 100%;

        &>div{
            height: 100%;
            &>div{
                height: 100%;
            }
        }

        .first-other-box{
            border-top: solid 1px #d2d6de;
        }
    }
}


.steedos {
    
    margin: 0px;    
    position: relative;
    .content-wrapper {
        height: 100%;
        position: relative;
    }
}


.steedos-mail.steedos-contacts{

    .contacts-list-wrapper {
        //width: 350px;
        right: 0;
        left: 0;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        overflow-y: hidden;
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-right: 1px solid #d2d6de;
        background: white;

        .contacts-tree{
            background-color: #fff;
            overflow-y: auto;
            height: auto !important;
            .box-solid{
                margin-bottom: 0px;
            }
            .box-body{
                height: 661px;
             overflow: auto;
            }
        }
        
        .contacts-list {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            top: 51px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            position: absolute;
            background-color: white;

            .contacts-name {
                    font-weight: bold
            }
            .contacts-modified {
                    padding-right: 10px;
                    float: right;
            }
            .contacts-applicant {
                    padding-left: 10px;
            }

        }

        .navigation-title {
            overflow: visible !important;
        }

        .dataTables_wrapper {
            //border-top: 1px solid #d2d6de;
            
            .dataTable {
                background: white;
                border-top: 0px;
                margin-top: 0px !important;

                thead {
                    display: none
                }

            }
            .dataTables_paginate {
                padding-right: 10px;
            }
            .table > tbody > tr > td {
                border-bottom: 1px solid #E8E8E8;
                border-top: 0px;
            }
        }

    }

    .contacts-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 65%;
        overflow: hidden;
        // overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: white;

        .pull-right{
            width: 250px;
        }

        .contacts-name {
                font-weight: bold
        }
        .contacts-modified {
                padding-right: 10px;
                float: right;
        }
        .contacts-applicant {
                padding-left: 10px;
        }

        .contacts {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            padding: 0px;
            background-color: white;
            // .box-body{
            //     overflow-y: scroll;
            // }
            .row {
                margin-right: 0px;
                margin-left: 0px;
            }

            .contacts-suggestion.box {
                //border-top: 0px;
            }

            .box-body {
                padding-left: 15px;
                padding-right: 15px;
            }

            .contacts-form .box-body, .contacts-suggestion .box-body {
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        .navigation-bar{
            height: 51px;
        }

    }

    @media (min-width: 768px) {
        .contacts-main {
            .contacts-list-wrapper {
                display: block;
                right: 65%;
                //transition: 0.3s ease-in-out, width 0.3s ease-in-out;
            }
            .contacts-wrapper {
                left: 100%;
                width: 65%;
                transform: translate(0, 0);
            }   
        }
        .contacts-main.contacts-show {
            .contacts-list-wrapper {
                right: 65%;
                transition: 0.3s ease-in-out, width 0.3s ease-in-out;
            }   
            .contacts-wrapper {
                width: 65%;
                left: 35%;
                transition: 0.3s ease-in-out, width 0.3s ease-in-out;
            }   
        }
    }

    @media (max-width: 767px) {
        .contacts-main {
            .contacts-list-wrapper {
                display: block;
                width: 100%;
                left: 0;
                border-right: 0px;
                transition: 0.3s ease-in-out;
            }
            .contacts-wrapper {
                left: 100%;
                width: 100%;
                transition: 0.3s ease-in-out;
            }   
        }
        .contacts-main.contacts-show {
            .contacts-list-wrapper {
                //display: none;
                left: -100%;
                width: 100%;
                transition: 0.3s ease-in-out;
            }   
            .contacts-wrapper {
                left: 0;
                width: 100%;
                transition: 0.3s ease-in-out;
            }   
        }
    }

    .modal-body{
        height: calc(~"100% - 240px");
        min-height: 654px;
    }
}

.steedos-mail {
    @barHeight: 51px;

    // @searchHeight: 56px;

    @pageHeight: 40px;

    @summernoteBarHeight: 50px;

    @backgroundColor: rgba(255, 255, 255, 1.0);

    height: 100%;

    background-color: transparent;

    /* Retina support */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
           only screen and (-moz-min-device-pixel-ratio: 1.5),
           only screen and (-o-min-device-pixel-ratio: 3/2),
           only screen and (min-device-pixel-ratio: 1.5) {
        .icheckbox_flat-blue,.iradio_flat-blue {
            background-image: url(/images/apps/emailjs/blue.png);
            -webkit-background-size: 176px 22px;
            background-size: 176px 22px;
        }
    }



    .row{
        height: 100%;
    }

    .mail-search{
        width: calc(~"100% - 45px");
    }

    .mail-list{
        padding-right: 0px;
        border-right: 1px solid #d2d6de;
        height: 100%;
        // min-width: 430px;
        min-height: 500px;
        width: 400px;
        // padding-left: 15px;
        float: left;
        .mail_list{
            height: calc(~"100% - @{barHeight}");
            width:100%;
            background-color: @backgroundColor;
            border-top: 0px;
            margin-bottom: 0px;
            border-radius: 0px !important;
            .mailbox-controls{
                border: 0px;
            }

            .box-body{
                height: calc(~"100% - @{pageHeight}");
            }
            .mailbox-checkbox{
                text-align: right;
                width: 35px;
                cursor: pointer;
            }

            .mailbox-name{
                width: 260px;
                white-space:nowrap;
            }

            .mailbox-messages {
                font-weight: 400;
                height: calc(~"100% - @{pageHeight}");
                overflow-y: auto;
                position: relative;
                border-top: 1px solid #f4f4f4;
                border-bottom: 1px solid #f4f4f4;
                .item{
                    padding: 0px;
                    background: @backgroundColor;
                    .message{
                        padding: 10px 5px;
                    }
                }

                .unseen{
                    font-weight: bold;
                }

                .seen > div{
                    // display: inline-block;
                    border-left: solid 5px transparent;
                    margin-left: 1px;
                }

                .unseen > div{
                    // display: inline-block;
                    border-left: solid 5px #106EBE;
                    margin-left: 1px;
                }



                .product-checkbox{
                    float: left;
                }

                .product-img{
                    padding-left:5px;
                }

                .product-info {
                    cursor: pointer;
                    margin-left: 25px;
                    a{
                        color: #2e3133;
                    }

                    div{
                        padding-right: 7px;
                    }

                    .fa{
                        padding-right: 10px;
                    }
                }

                .product-description {
                    color: #727272;
                }

                .active{
                    background-color: #08C;
                   .product-info {

                        color: #fff;

                        a{
                            color: #fff;
                        }

                        .product-description{
                            color: #fff;
                        }
                    }
                }
            }

            .mailbox-subject{
            }

            .mailbox-subject .subject{
                width: 380px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .mailbox-date{
                width: 80px;
                white-space: nowrap;
            }

        }
    }

    .mail-wrapper{
        width: calc(~"100% - 400px");
        float: right;
        // padding-right: 15px;
        a{
            color: #3c8dbc;
        }
        padding-left: 0px;
        height: 100%;
        background-color: transparent;
        .animated{
            animation-duration: 0.3s;
        }
    }

    .right{
        min-width: 420px;
        height: 100%;
        background-color: @backgroundColor;
        #attachment_donwLoadding{
            display: none;
        }
        &>.overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &>.overlay{
          z-index: 50;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 3px;
        }
        &>.overlay > .fa{
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -15px;
          margin-top: -15px;
          color: #000;
          font-size: 30px;
        }
        .mail-button{
            .cc{
                padding-left: 45px;
            }

            .text_link{
                font-size: 12px;
                line-height: 34px;
                margin-right: 15px;
                color: #5e696e;
                cursor: pointer;
                text-decoration: underline;
                vertical-align: top;
                display: inline-block;
                zoom: 1;
            }

            .remove_cc, .remove_bcc{
                display: none;
            }

        }
        .right-body{
            overflow-y: auto;
            height: calc(~"100% - @{barHeight}");
            position: relative;
            // padding-right: 5px;
            .mail-read{
                // height: 100%;
                background: @backgroundColor;

                .mailbox-read-message{
                    padding: 0px;
                    .mailbox-read-info{
                        padding: 10px;
                    }

                    .subject{
                        font-weight: bold;
                        font-size: 14px;
                    }
                    
                    .from{
                        .mail-address{
                            .a{
                            color:#3c8dbc;
                            text-decoration:none;
                            }
                        }
                        font-weight: 400;
                        font-size: 14px;
                    }

                    .message-body{
                        padding: 10px;
                    }

                    .box-header{

                        border-top: 0px;
                        border-bottom: 1px solid #f4f4f4;

                        .attachment-item{
                            padding-left: 0px;
                            padding-bottom: 5px;
                            padding-top: 5px;
                            .mailbox-attachment-name{
                                color: #666 !important;
                            }
                        }
                    }
                }
            }

            .mail-compose{
                // background-color: #fff;
                height: 100%;
                border-top: 0px;
                margin-bottom: 0px;

                .box-body{
                    height: 100%;
                    .message-body{
                        margin-top: 0px;
                        height: 70%;
                        .note-editor{
                            border-radius: 0px;
                            height: 100%;
                            .note-editing-area{
                                height: calc(~"100% - @{summernoteBarHeight}");

                                .note-editable{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .message-attachments{
                    margin-bottom: 0px;
                    #compose_attachment_list{
                        margin-right: 0px;
                        margin-left: 0px;
                    }
                    .attachment-item{
                        margin-bottom: 15px;
                        padding-left: 0px;
                    }
                }



                .mail_cc, .mail_bcc{
                    display: none;
                }
            }
        }
    }

    .attachment-info-box {
        display: block;
        height: 45px;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 0;

        .mailbox-attachment-delete{
            line-height: 18px;
            padding-left: 15px;
            color: blue;
            cursor: pointer;
        }
    }

    .attachment-info-box-icon {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        display: block;
        float: left;
        height: 45px;
        width: 45px;
        text-align: center;
        font-size: 25px;
        line-height: 45px;
        background: rgba(0,0,0,0.2);
    }

    .attachment-info-box-content{
        padding: 0px 10px;
        margin-left: 45px;
        height: 45px;
        background-color: #f5f5f5;
    }

    .attachment-info-box-text{
        display: block;
        font-size: 14px;
        padding-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


@media (max-width: 1023px) {
    .steedos-mail{
        .mail-list{
            display: block;
            width: 100%;
            left: 0;
            border-right: 0px;
        }

        .mail-wrapper {
            left: 100%;
            width: 100%;
        } 
    }

    .steedos-mail.right-show{
        .mail-list {
            display: none;
            left: -100%;
            width: 100%;
        }   
        .mail-wrapper {
            left: 0;
            width: 100%;
        }  
    }
}
