<template name="layout_right">
    {{#if showRight}}
      <div class="right">
        {{> mailButton}}
        <div class="right-body" >
            {{#if isComPose}}
                {{> mail_compose}}
            {{else}}
                {{> read_mail}}
            {{/if}}
        </div>
        <div class="overlay {{isSending}}" id="mail_sending">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="overlay {{attachmentLoadding}}" id="attachment_donwLoadding">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
    {{/if}}
</template>
